<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .no-js #loader { display: none;  }
        .js #loader { display: block; position: absolute; left: 100px; top: 0; }
        .preloader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            overflow: hidden;
            background: url("<%= require('./src/assets/Preloader_2.gif') %>") center no-repeat #fff;
    }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Digital Cities PH</title>
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="Digital Cities PH">
    <meta name="Description" content="Digital Cities PH description"/>
    <!-- Open Graph data -->
    <meta property="og:title" content="Digital Cities PH" />
    <meta property="og:description" content="A simple webpack starter project for your basic web development needs." />
    <!-- Mobile header color for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#ffffff">
    <!-- Mobile header color Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#ffffff">
    <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <div class="preloader"></div>
    <header class="app-bar">
        <nav class="navbar navbar-light navbar-expand-md">
            <a class="navbar-brand" href="#">
                <img src="<%= require('./src/assets/brand-logo.PNG') %>" />
            </a>
            <button class="navbar-toggler hamburger hamburger--collapse" type="button" data-toggle="collapse" data-target="#navbarPages" aria-controls="navbarPages" aria-expanded="false" aria-label="Toggle navigation">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarPages">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">about</li>
                    <li class="nav-item active">city profiles</li>
                    <li class="nav-item">media &amp; events</li>
                    <li class="nav-item">services</li>
                </ul>
                <ul class="nav navbar-nav justify-content-end social-buttons">
                    <li class="nav-item">
                        <a href="https://fb.me/digitalcitiesPHofficial" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>

                    <li class="nav-item phone">
                        <a href="tel:+6328172727 ">
                            <i class="fas fa-phone-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <button class="open-sidenav" type="button" style="display: none;">
            <i class="fas fa-angle-double-right"></i>
        </button>
        <section class="filter">
            <div class="filter-title">
                <span>Filter</span>
                <button class="filter-toggle" type="button">
                    <i class="fas fa-sliders-h"></i>
                </button>
            </div>
            <div class="filter-category">
                <span>
                    Cities/Municipalities
                    <button class="dropdown-toggle" type="button" data-toggle="collapse" data-target="#municipalities" aria-expanded="true" aria-controls="municipalities">
                        <i class="fas fa-angle-down"></i>
                    </button>
                </span>
                
                <div id="municipalities" class="collapse dropdown-items" >
                    <span>Batangas</span>
                    <span>Bacolod</span>
                    <span>Bulacan</span>
                    <span>Batanes</span>
                    <span>Cavite</span>
                    <span>Cebu</span>
                </div>
            </div>
            <div class="filter-subcategory">
                <span>
                    Talent
                    <button class="dropdown-toggle" type="button" data-toggle="collapse" data-target="#talent" aria-expanded="true" aria-controls="talent">
                        <i class="fas fa-angle-down"></i>
                    </button>
                </span>
                <div id="talent" class="collapse dropdown-items" >
                    <span>Designer</span>
                    <span>IT Expert</span>
                    <span>Tester</span>
                    <span>Guitar Playing</span>
                </div>
            </div>
            <div class="filter-content">
                <span>
                    Population
                    <div class="range-slider">
                        <span>50</span>
                        <input type="range">
                        <span>1M</span>
                    </div>
                </span>
                <span>
                    Total Graduates
                    <div class="range-slider">
                        <span>50</span>
                        <input type="range" >
                        <span>1M</span>
                    </div>
                </span>
                
                <span>
                    No. of CoEs and CoDs
                    <div class="range-slider">
                        <span>50</span>
                        <input type="range">
                        <span>1M</span>
                    </div>
                </span>
                
                <span>
                    Programming Talent
                    <div class="range-slider">
                        <span>50</span>
                        <input type="range">
                        <span>1M</span>
                    </div>
                </span>
                <span>
                    Higher Education Institutions
                    <div class="range-slider">
                        <span>50</span>
                        <input type="range">
                        <span>1M</span>
                    </div>
                </span>
                <span>
                    FTEs employed in IT-BPM
                    <div class="range-slider">
                        <span>50</span>
                        <input type="range">
                        <span>1M</span>
                    </div>
                </span>
                <div class="filter-buttons"> 
                    <button type="button" class="filter">Filter</button>
                    <button type="button">Reset</button>
                </div>
            </div>
            
            <div class="filter-subcategory">
                <span>
                    Infrastructure
                    <button class="dropdown-toggle" type="button" data-toggle="collapse" data-target="#infrastructure" aria-expanded="true" aria-controls="infrastructure">
                        <i class="fas fa-angle-down"></i>
                    </button>
                </span>
                <div id="infrastructure" class="collapse dropdown-items" >
                    <span>Building</span>
                    <span>Mall</span>
                    <span>Food shop</span>
                    <span>Carwash Place</span>
                </div>
            </div>
            <div class="filter-category">
                <span>
                    Top 10 cities
                    <button class="dropdown-toggle" type="button" data-toggle="collapse" data-target="#top10cities" aria-expanded="true" aria-controls="top10cities">
                        <i class="fas fa-angle-down"></i>
                    </button>
                </span>
                <div id="top10cities" class="collapse dropdown-items" >
                    <span>Batangas</span>
                    <span>Cebu</span>
                    <span>Davao</span>
                    <span>Metro Manila</span>
                </div>
            </div>
        </section>
        <section class="map">
            <div class="container">
                <div class="jsmaps-wrapper" id="phmap"></div>
            </div>
        </section>
        <section class="province-details">
            <div class="header">
                <span class="province-name" data-info="">Province of Cebu</span>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="province-info">

            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            &copy; digitalcitiesPH, 2017. All rights reserved.
        </div>
    </footer>
</body>
</html>
