
section.filter {
    max-width: 255px;
    min-height: 100%;
    background-color: #333333;
    text-transform: uppercase;
    font-family: 'Open Sans';
    text-align: start;
    transition: all 0.3s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    margin-left:-250px;
    transform: rotateY(100deg);
    transform-origin: bottom left;
    overflow-y: auto;
    > div {
        padding: 15px;
        color: #fff;
        box-shadow: 0px 1px #3f3f3f;
    }
    div.filter-title {
        padding: 5px 3px 5px 15px;
        background-color: #3C3C3C;
        font-family: 'Ubuntu Condensed';
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        button.filter-toggle {
            color: #fff;
            background-color: #3C3C3C;
            border:none;
            svg {
                transform: rotate(90deg);
            }
        }
    }
    
    div.filter-category {  color: #88B2CA; }
    div.filter-category,
    div.filter-subcategory {
        font-weight: 600;
        font-size: 15px;
        flex-wrap: wrap;
        flex-grow: 0;
        span {
            width: 100%;
            display: flex;
            justify-content: space-between;
            button.dropdown-toggle {
                color: #fff;
                background-color: #333333;
                border:none;
                &::after { display: none;}
            }
        }
    }   
    div.filter-content {
        color: #fff;
        text-transform: capitalize;
        font-size: 15px; 
        div.range-slider {
            display: flex;
            align-items: center;
            input[type=range] {
                width: 100%;
                padding: 17px 6px;
            }
        }
        div.filter-buttons {
            display: flex;
            justify-content: space-around;
            button {
                font-family: 'Ubuntu Condensed';
                background-color: #B9B9B9;
                padding: 5px;
                width: 100px;
                border: none;
                text-transform: uppercase;
                &.filter {
                    background-color: #FEF200;
                }
            }
        }
    }

    div.dropdown-items {
        span {
            padding: 6px 0px;
            color: #fff;
            font-weight: 400;
            font-size: 13px;
        }
    }
}
section.map {
    transition: all 0.3s; 
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
    > .container {
        margin: 0px;
        height: 100%;
        padding: 40px 0px 0px 0px;
        > div.jsmaps-wrapper {
            max-width: 500px !important; 
            height: 100% !important;
            > div.jsmaps {
                height: 100%;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                > svg {
                    max-width: 310px !important;
                    left: 0;
                    overflow: hidden;
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    @media (min-width: 768px) {  
                        max-width: 490px !important;
                    }

                    @media (min-width: 992px) { 
                        max-width: 730px !important;
                    }
                }
            }
            .jsmaps-tooltip {
                position: fixed;
                padding: 0px;
                background: unset !important;
                font-size: 14px;
                font-weight: normal;
                border: none !important;
                border-radius: 0px;
                pointer-events: none;
                -moz-background-clip: padding;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                width: 280px;
                z-index: 1000000;
                transform: translate(0, -20px);
                transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
            }
        }
    }

    div.card {
        border-radius: 0px;
        box-shadow: 5px 5px 22px 6px rgba(0,0,0,0.44);
        div.card-header:first-child {
            text-transform: uppercase;
            color: white;
            font-size: 15px;
            text-align: left;
            border-radius: 0px;
            letter-spacing: 3px;
        }
        div.card-body {
            text-align: left;
            font-size: 13px;
        }
    }

    div.jsmaps-text {
        display: none !important;
    }
}

section.province-details {
    height: 100%;
    width: 90%;
    align-self: flex-end;   
    background-color: #F2F2F2;
    display: none;
    transition: display 1s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom right;
    transition: all 0.5s;
    @media (min-width: 768px) { width: 45%; }

    div.header {   
        height: 60px;
        padding: 2px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        text-transform: uppercase;
        color: #fff;
        background-color: #555;
        span.province-name {
            font-size: 22px;
            font-family: 'Ubuntu Condensed';
        }
        button.close {
            color: #fff;
            opacity: 1;
        }
    }
}
