@import "~bootstrap/scss/bootstrap";
@import "~hamburgers/dist/hamburgers";

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: lighter;
}

main {
    display: flex;
    flex-direction: column;
    height: 90%;
    flex-wrap: wrap;
    background-color: #36495A;
    overflow: hidden;
    > div {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    button.open-sidenav {
        color: #fff;
        background-color: #333333;
        border:none;
        position: absolute;
        transition: all 0.3s cubic-bezier(0.945, 0.020, 0.270, 0.665);
        padding: 7px;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #444444;
    color: #ffffff;
}