
nav.navbar {
    padding: 0px;
    a.navbar-brand {
        padding: 0px 20px;
        img { width: 170px; }
    }
    .navbar-collapse {
        background-color: #0B9741;
        transition: height 200ms;
    }

    ul.navbar-nav {
        li.nav-item {
            padding: 10px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            color: #ffffff;
            text-decoration: white solid underline;
            text-underline-position: under;
            &.active,
            &:hover {
                color: #FEF200;
            }
        }
        &.social-buttons {
            flex-direction: row;
            justify-content: center !important;
            li.nav-item {
                padding: 25px;
                a {
                    color: #ffffff;
                    svg.svg-inline--fa { width: 25px; }
                }

                &.phone {
                    padding: 25px;
                    a { color:#FEF200; }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    nav.navbar {
        .navbar-collapse { background-color: #ffffff; }
        ul.navbar-nav {
            li.nav-item {
                padding: 25px 10px;
                color: #4E5861;
                text-decoration: none;
                &.active,
                &:hover {
                    color: #95C0D1 !important;
                }
            }

            &.social-buttons {
                flex-direction: row;
                li.nav-item {
                    a {
                        color: #334453 !important;
                        svg.svg-inline--fa { width: 25px; }
                    }

                    &.phone {
                        background-color: #FEF200 !important;
                        padding: 25px;
                    }
                }
            }
        }
    }
    
    .social-buttons {
        li.nav-item,
        li.phone {
            padding: 4px !important;
        }
    }
}

@media (min-width: 992px) { 
    a.navbar-brand {
        padding: 0px 30px;
    }
    ul.navbar-nav {
        &.social-buttons {
            li.nav-item {
                padding: 25px 10px !important;
                &.phone {
                    padding: 25px !important;
                }
            }
        }
    }
}

.hamburger {
    border-radius: 0px;
    background-color: #0B9741;
    .hamburger-box {
        width: 30px;
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            width: 30px;
            background-color: #ffffff;
        }
    }
    &.is-active:hover,
    &:hover {
        opacity: 1;
    }
}