/*Apply styling that will override basic appearance*/
/*nb this example is Chrome only*/

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  /*Styling the thumb in Chrome*/
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 1px solid #E1E1E1;
    background: #E1E1E1;
    cursor: pointer;
    margin-top: -3x; 
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.9);/* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }
  
  /*Styling the track in Chrome*/
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    background: #4B87B4;
    border-radius: 10px;
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.9);
  }